<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <title><%= current_account.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "preserve_player_name" %>
    <%= yield(:head) %>
  </head>

  <body class="text-gray-300 text-xl font-serif bg-neutral-800">
    <main class="flex flex-col items-center lg:items-start relative pt-40">
      <div class="w-full lg:self-end lg:w-auto fixed lg:mx-[10%] xl:mx-[15%] py-2 lg:py-0 top-0 lg:top-auto bg-gray-100 text-black lg:bg-transparent lg:text-inherit z-10">
        <%= render 'default/shared/navigation' %>
      </div>

      <%= yield %>
      <%= render 'default/shared/footer' %>
    </main>

    <%= yield(:game) %>
  </body>
</html>
