<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <title><%= current_account.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "preserve_player_name" %>
    <%= yield(:head) %>
  </head>

  <body class="text-gray-300 text-xl font-serif bg-neutral-800">
    <div class="flex flex-col relative pt-40">
      <%= render 'default/shared/navigation' %>
      <%= render 'default/shared/breadcrumbs' if current_page.name != "homepage" %>
      <main class="w-full"><%= yield %></main>
      <%= render 'default/shared/footer' %>
    </div>

    <%= yield(:game) %>
  </body>
</html>
