<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <title><%= current_account.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "preserve_player_name" %>
    <%= yield(:head) %>
  </head>

  <body>
    <div class="flex flex-row-reverse flex-wrap justify-around items-start text-gray-300 text-xl font-serif pt-8">
      <div class="basis-full lg:basis-auto lg:mt-40">
        <div class="max-w-[63ch] px-5 mx-auto">
          <%= render 'default/shared/navigation' %>
        </div>
      </div>
      <main class="basis-full lg:basis-auto max-w-[63ch] mt-40 px-5">
        <%= yield %>

        <%= render 'default/shared/footer' %>
      </main>
    </div>

    <%= yield(:game) %>
  </body>
</html>
