<nav class="flex flex-nowrap items-center justify-start <%= center_div_classes %> px-3 mb-4">
  <% home_page = Spina::Page.find_by(name: "homepage") %>
  <%= link_to home_page.menu_title, home_page.materialized_path, class: "update-user-name", title: home_page.menu_title %>
  <%= render ('shared/icons/chevron-right') %>

  <% resource_name = current_page.resource&.name %>
  <% resource_index_page = Spina::Page.find_by(name: resource_name) if resource_name.present? %>
  <% if resource_index_page.present? %>
    <%= link_to resource_index_page.menu_title, resource_index_page.materialized_path, class: "update-user-name", title: resource_index_page.menu_title %>
    <%= render ('shared/icons/chevron-right') %>
  <% end %>

  <p><%= current_page.menu_title %></p>
</nav>
