<nav class="flex flex-nowrap items-center justify-start">
  <% home_page = Spina::Page.find_by(name: "homepage") %>
  <%= link_to "Tobias Bohn", home_page.materialized_path, class: "update-user-name" %>
  <%= render ('shared/icons/chevron-right') %>

  <% resource_name = current_page.resource.name %>
  <% resource_index_page = Spina::Page.find_by(name: resource_name) %>
  <% if resource_index_page.present? %>
    <%= link_to resource_index_page.menu_title, resource_index_page.materialized_path, class: "update-user-name" %>
    <%= render ('shared/icons/chevron-right') %>
  <% end %>

  <p><%= current_page.menu_title %></p>
</nav>
