<nav class="fixed w-full xl:w-auto xl:self-end top-0 xl:top-auto z-30 flex flex-col items-stretch">
  <div class="w-full max-w-prose lg:max-w-none lg:w-auto xl:self-end xl:min-w-[150px] mx-auto lg:mx-[10vw] xl:mx-[15vw] rounded bg-neutral-800 xl:bg-transparent">
    <div class="flex justify-end items-center gap-5 mx-3 mt-6 mb-3 xl:my-0 px-3 py-1 bg-gray-100 text-black rounded relative">

      <%# Language Button %>
      <% existing_locales = current_page.translations.pluck(:locale).map(&:to_sym) %>
      <% current_locale = params[:locale]&.to_sym || I18n.default_locale&.to_sym %>
      <% target_locales = (existing_locales - [current_locale]) %>

      <% container_classes = "hidden absolute w-full sm:w-auto -bottom-2 right-0 translate-y-full z-50 py-2" %>
      <% ulist_classes = "py-1 list-none bg-gray-100 rounded shadow" %>
      <% content_classes = "block py-2 px-4 sm:!px-8 text-gray-700 hover:bg-gray-50 hide-link-icon whitespace-nowrap update-user-name" %>

      <% if target_locales.count > 0 %>
        <button data-collapse-toggle="language-menu" id="language-menu-button" type="button" class="inline-flex items-center" aria-controls="language-menu" aria-expanded="false" title="<%= I18n.t('home.toggle_language') %>">
          <span class="sr-only"><%= I18n.t('home.toggle_language') %></span>
          <%= render 'shared/icons/globe', classes: "w-7 h-7 sm:hidden" %>
          <%= render 'shared/icons/globe', classes: "w-8 h-8 hidden sm:block" %>
        </button>

        <%# Language Menu %>
        <div class="<%= container_classes %>" id="language-menu">
          <ul class="<%= ulist_classes %>" aria-labelledby="language-menu-button">
            <% target_locales.each do |locale| %>
              <li>
                <% text = I18n.t("spina.languages.#{locale}", locale: locale) %>
                <%= link_to text, current_page.materialized_path(locale: locale), class: content_classes, title: text, lang: locale %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# Menu Button %>
      <button data-collapse-toggle="main-menu" id="main-menu-button" type="button" class="inline-flex items-center" aria-controls="main-menu" aria-expanded="false" title="<%= I18n.t('home.open_main_menu') %>">
        <span class="sr-only"><%= I18n.t('home.open_main_menu') %></span>
        <%= render 'shared/icons/menu-alt-3', classes: "w-8 h-8 sm:hidden" %>
        <%= render 'shared/icons/menu-alt-3', classes: "w-9 h-9 hidden sm:block" %>
      </button>

      <%# Main Menu %>
      <div class="<%= container_classes %>" id="main-menu">
        <ul class="<%= ulist_classes %>" aria-labelledby="main-menu-button">
          <% nav = Spina::Navigation.find_by(name: 'main') %>
          <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

          <% current_locale = params[:locale]&.to_sym || I18n.default_locale&.to_sym %>
          <% nav_items = [].tap do |out| %>
            <% items.each do |item| %>
              <% if item.page&.translations&.pluck(:locale)&.map(&:to_sym).include?(current_locale) && item.page&.materialized_path %>
                <% out << [item.page.menu_title, item.page.materialized_path] %>
              <% end %>
            <% end %>
          <% end %>

          <% nav_items.each do |item| %>
            <li>
              <%= link_to item[0], item[1], class: content_classes, title: item[0] %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</nav>
