<% content_for :head do %>
  <%= javascript_import_module_tag "snake" %>
<% end %>

<% content_for :game do %>
  <canvas id="snakeCanvas"></canvas>
<% end %>



<section class="flex flex-col tb-content mb-40">
  <h1 class="order-3 !mb-1"><%= current_page.title %></h1>
  <h2 class="order-4 !mb-10"><%= content :home_sub_heading %></h2>
  <p class="order-5 mb-4"><%= content :home_introduction %></p>
  <%= content.image_tag :home_main_image, {}, { class: "order-6 rounded drop-shadow" } %>


  <p class="order-1 mb-4 text-5xl sm:!text-6xl">
    <span class="whitespace-nowrap" aria-hidden="true">
      Hey <input type="text" id="snakeNameInput" placeholder="<%= I18n.t('home.name_query') %>">.
    </span><br>
    <%= content :home_welcome %>
  </p>
  <p class="order-2 mb-60 whitespace-nowrap flex items-center">
    <span class="sr-only"><%= I18n.t('home.arrow_keys') %>&nbsp;</span>
    <span class="bg-gray-900" aria-hidden="true"><%= render 'shared/icons/arrow-sm-up' %></span>&nbsp;
    <span class="bg-gray-900" aria-hidden="true"><%= render 'shared/icons/arrow-sm-right' %></span>&nbsp;
    <span class="bg-gray-900" aria-hidden="true"><%= render 'shared/icons/arrow-sm-down' %></span>&nbsp;
    <span class="bg-gray-900" aria-hidden="true"><%= render 'shared/icons/arrow-sm-left' %></span>&nbsp;
    <%= I18n.t('home.or') %>&nbsp;
    <span class="bg-gray-900 font-sans h-5 w-5 text-center align-middle text-xs leading-5">W</span>&nbsp;
    <span class="bg-gray-900 font-sans h-5 w-5 text-center align-middle text-xs leading-5">A</span>&nbsp;
    <span class="bg-gray-900 font-sans h-5 w-5 text-center align-middle text-xs leading-5">S</span>&nbsp;
    <span class="bg-gray-900 font-sans h-5 w-5 text-center align-middle text-xs leading-5">D</span>&nbsp;
    <%= I18n.t('home.for_snake') %>
  </p>
</section>

<section class="mb-40 tb-content-wrapper">
  <%= content.html :home_projects %>
</section>

<section class="mb-40 tb-content-wrapper">
  <%= content.html :home_skills %>
  <%= render 'default/shared/skills_selector', skills_selector: current_page.content(:skills_selector) %>
</section>
